@model IEnumerable<VetryaBloodBowl.Models.PlayerProfile>
@using System.Linq
<hr />
<h4>Players</h4>

<table class="table">
    <tr>
        <th>@Html.LabelFor(A => Model.FirstOrDefault().MaxQuantityDescription)</th>
        <th>Title</th>
        <th>Cost (gp)</th>
        <th>MA</th>
        <th>ST</th>
        <th>AG</th>
        <th>AV</th>
        <th>Skills</th>
        <th>Normal</th>
        <th>Double</th>
    </tr>

    @foreach (var player in Model)
    {
        @Html.DisplayFor(a=>player)
    }
</table>