body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.TableHeader {
    margin-bottom: 20px;
}

.action-main-section{
    position: relative;
    font-family: Helvetica;
    float: left;
    padding-right: 10px;
}

.align_center {
    text-align: center;
}

.align_left {
    text-align: left !important;
}

.align_right {
    text-align: right!important;
}

#separator{
    clear: both;
}